  var handleWrap = function (item,number) {
    var num=number||20;
    // 去除尾部换行符
    var reg1 = getRegExp('\n+$', 'g');
    item1 = item.replace(reg1, '');
    // 匹配5个及以上换行符，多于5个截取多余的
    var reg_2 = getRegExp('\n{5,}', 'g');
    item1 = item1.replace(reg_2, '\n\n\n\n\n');
    // 匹配换行符的个数
    var reg_1 = getRegExp('\n', 'g');
    var enterNum = 0;
    if (reg_1.test(item1)) {
      enterNum = item1.match(reg_1).length;
    }
    // 回车符代表的字符个数,一个回车代表20个字符
    var enterTotalNum = enterNum * num;
    
    // item中总长度totalLength
    var totalLength = item1.length - enterNum + enterTotalNum
    // 文本行数lineNum
    var lineNum = parseInt(totalLength / num + 1);
    var obj = {
      "lineNum": lineNum,
      "str": item1.replace(reg1, '')
    }
    return obj

  }

module.exports = {
  handleWrap: handleWrap

}
